*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.input-container {
  position: relative;
  margin-top: 25px;
}

.input-container input {
  width: 100%;
  padding: 14px 10px;
  outline: none;
  font-size: 16px;
  background-color: #F5F5F5 ;
  padding: 10px;
  border:1px solid black;
  border-radius:4px;
}

/* Default: label ABOVE input */
.input-container label {
  position: absolute;
  top: 10px;
  left: 10px;
  background: white;
  padding: 0 5px;
  font-size: 10px;
  color: #5c052f;
  transition: all 0.2s ease;
  pointer-events: none;
  border-radius:3px;
  background-color:#F5F5F5;
}

/* On focus → move label INSIDE */
.input-container input:focus + label {
  top: -17px;
  font-size: 12px;
  color:#531332;
  font-style:italic;
  
}

/* On valid → keep label INSIDE */
.input-container input:valid + label {
  top: -8px;
  font-size: 12px;
  color:#5c052f;
  
}
.input-container input:valid + input{
    outline: 2px solid rgb(137, 93, 147);

}
.fields *{
    padding: 4px;
    margin: 5px;
}
.text strong, button{
    margin-left: 2rem;
}

span{
    color: #3d5c29;
}

span:hover{
    color:#417d65;
}

@media(min-width:800px){
.main{
    display: flex;
    flex-direction:row;
    
    justify-content: center;
    max-height: 100vh;
    width: 100vw;
}
    .images{
    display: flex;
    align-items: start;
    justify-content: center;
    opacity: .75;
    width: 30%;
    min-height:100vh;
    background-size: cover;
    background-image: url(halie-west-25xggax4bSA-unsplash.jpg);
}
    .odin h1{
    color: #fff;
    font-family: norse-bold, sans-serif;
    font-size: 100px;
    opacity: 1;
}

.odin img{
    opacity: 1;
    
}

.odin{
    display: flex;
    align-items: center;
    margin-top: 10rem;
    max-width: 100%;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.text{
    background-color: #ddd;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    gap: 0rem;
    
} 
.tag-line{
    font-size: 23px;
    font-style: italic;
    font-weight: light;
    margin-left: 3rem;
    margin-top: 1rem;
    font-family:'Times New Roman', Times, serif;
}
.account{
    padding: 1rem;
    width: 12rem;
    border: none;
    border-radius:5px 0px 5px 5px;
    background-color: #3d5c29;
    color: #fff;
    font-weight: light;
    margin-top:10px;
}
@font-face {
    font-family: norse-bold;
    src: url(Norse-Bold.otf);
}

.odin h1{
    color: #fff;
    font-family: norse-bold, sans-serif;
    font-size: 100px;
    opacity: 1;
}

.odin img{
    opacity: 1;
    
}

.odin{
    display: flex;
    align-items: center;
    margin-top: 10rem;
    max-width: 100%;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.text{
    background-color: #ddd;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    gap: 0rem;
}
.fields{
    display: flex;
    
    gap: 2px;
    margin-left:-10px;
}
.addline{
    font-size:20px;
    font-family:Roboto;
     margin-left: 45px;
}
button{
    padding: 1rem;
    width: 12rem;
    border: none;
    border-radius:5px 0px 5px 5px;
    background-color: #3d5c29;
    color: #fff;
    font-weight: light;
    margin-top: 1rem;
    
}
.form{
    background-color: #f8faf7;
    width: 100%;
    box-shadow: 3px 3px 10px #aaa;
    padding-left: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
}



@media (max-width:480px){
    .main{
        display:flex;
        flex-direction:column;
        min-height: 100vh;
        justify-content: center;
    }
    
    .images{
    
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: .75;
    width: 100vw;
    height:30vh;
    background-size: cover;
    background-image: url("halie-west-25xggax4bSA-unsplash.jpg");
}
.addline{
    font-size:20px;
    font-family:Roboto;
     margin-left: 20px;
}
@font-face {
    font-family: norse-bold;
    src: url(Norse-Bold.otf);
}

.odin h1{
    color: #fff;
    font-family: norse-bold, sans-serif;
    font-size: 80px;
    opacity: 1;
}

.odin img{
    opacity: 1;
    
}
.odin{
    display: flex;
    align-items: center;
    max-width: 100%;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.text{
    background-color: #ddd;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    gap: 0rem;
    
}
.fields{
    display: flex;
    flex-direction:column;
    gap: 2px;
    margin-left:-10px;
}
.tag-line{
    font-size: 20px;
    font-style: italic;
    font-weight: light;
    margin-left: 20px;
    margin-top: 1rem;
    font-family:'Times New Roman', Times, serif;
}
button{
    padding: 0.5rem;
    width: 12rem;
    border: none;
    border-radius:5px 0px 5px 5px;
    background-color: #3d5c29;
    color: #fff;
    font-weight: light;
    margin-top: 1rem;
    
}

.form{
    background-color: #f8faf7;
    width: 100%;
    box-shadow: 3px 3px 10px #aaa;
    padding:0.5rem 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
} 





























/* style for login page */

.login-container{
    display:flex;
    justify-content:center;
    align-items:center;
    padding:30px;

}
