*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.input-container {
  position: relative;
  margin-top: 25px;
}

.input-container input {
  width: 100%;
  padding: 14px 10px;
  outline: none;
  font-size: 16px;
  background-color: #F5F5F5 ;
  padding: 10px;
  border:1px solid black;
  border-radius:4px;
}

/* Default: label ABOVE input */
.input-container label {
  position: absolute;
  top: 10px;
  left: 10px;
  background: white;
  padding: 0 5px;
  font-size: 10px;
  color: #5c052f;
  transition: all 0.2s ease;
  pointer-events: none;
  border-radius:3px;
  background-color:#F5F5F5;
}

/* On focus → move label INSIDE */
.input-container input:focus + label {
  top: -17px;
  font-size: 12px;
  color:#531332;
  font-style:italic;
  
}

/* On valid → keep label INSIDE */
.input-container input:valid + label {
  top: -8px;
  font-size: 12px;
  color:#5c052f;
  
}
/* on focus → add outline */
.input-container input:focus {
    outline: 2px solid rgb(137, 93, 147);
}
.input-container input:valid{
    outline: 2px solid rgb(103, 147, 119);

}
.fields *{
    padding: 4px;
    margin: 5px;
}
.text strong, button{
    margin-left: 2rem;
}

span{
    color: #3d5c29;
}

span:hover{
    color:#417d65;
}
.main{
    display: flex;
    flex-direction:column;
    justify-content: center;
    min-height: 100vh;
}

    .images{
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.75;
    width: 100%;
    height:30vh;
    background-size: cover;
    background-image: url("halie-west-25xggax4bSA-unsplash.jpg");
   }
.addline{
    font-size:20px;
    font-family:Roboto;
     margin-left: 20px;
}
@font-face {
    font-family: norse-bold;
    src: url(Norse-Bold.otf);
}

.odin h1{
    color: #fff;
    font-family: norse-bold, sans-serif;
    font-size: 80px;
    opacity: 1;
}

.odin img{
    opacity: 1;
    
}
.odin{
    display: flex;
    align-items: center;
    min-width: 100%;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.text{
    background-color: #ddd;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    gap: 0rem;
    width:100%;
}
.fields{
    display: flex;
    flex-direction:column;
    gap: 2px;
    flex-wrap:wrap;
}
.tag-line{
    font-size: 20px;
    font-style: italic;
    font-weight: light;
    margin-left: 20px;
    margin-top: 1rem;
    font-family:'Times New Roman', Times, serif;
}
button{
    padding: 0.5rem;
    width: 12rem;
    border: none;
    border-radius:5px 0px 5px 5px;
    background-color: #3d5c29;
    color: #fff;
    font-weight: light;
    margin-top: 1rem;
    
}

.form{
    background-color: #f8faf7;
    width: 100%;
    box-shadow: 3px 3px 10px #aaa;
    padding:0.5rem 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.endline{
    margin:0px 10px 30px 0px;
}

@media(min-width:800px){
    .main{
        flex-direction:row;
    } 
    .images{
        width: 30%;
        min-height: 100vh;
        height:auto;
    }
    .text{
        min-width: 70%;
        min-height:100vh;
    }
    .fields{
    
    flex-direction:row;
    gap: 2px;
    
}
}




























/* style for login page */

.backgroundImage{
    background: #020024;
    background: linear-gradient(41deg, rgb(95, 89, 181) 20%, rgb(35, 35, 88) 40%, rgb(29, 109, 125) 80%);
    min-height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width:100vw;
}
img{
    height:160px;
    width:auto;
}

.login-container{
    display:flex;
    flex-direction: column;
    align-items:center;
    background-image:radial-gradient( #435579, #265f83);
    padding:20px 30px 20px 30px;
    border-radius:10px;
    box-shadow: 4px 4px 4px 2px rgba(15, 199, 178, 0.2);
    height:auto;
}
.headcontainer{
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    margin:20px 30px 20px 0px;
}
.odintext{
    font-family: norse-bold, sans-serif;
    font-size:100px;
    color:#fff;
}
.loginhead{
    font-size:20px;
    color:#fff;
    margin:10px 0px 20px 0px;
    text-shadow: #1645bd 3px 1px 2px;
}


div label{
    color:#e9ecef
}


.input-con input{
    
    padding:14px 17px;
    border-radius:8px;
    border:none;
    width:13rem;
    transition:all 0.3s ease;

}
.input-con{
    padding:10px;
    margin-top:25px;
    position:relative;
}

.input-con legend{
    position:absolute;
    top:15px;
    padding:0px 5px;
    left:13px;
    color:#1c52a9;
    transition:all 0.2s ease;
    font-family: 'Times New Roman', Times, serif;
    pointer-events: none;border-radius:5px;
    
}

.input-con input:focus + legend{
    top:-17px;
    font-size: 17px;
    color:#172027;
    font-style:italic;
    background-color:#2194c5;
}
.input-con input:focus{
    outline: 2px solid rgb(48, 210, 199);
    width:15rem;
}
.input-con input:valid + legend{
    top:0px;
    font-size: 17px;
    color:#213437;
    background-color: #716dca;
    font-style:italic;
}
.input-con input:valid {
    outline: 2px solid rgb(47, 75, 200);
} 

button{
    margin-top: 20px;
    padding: 10px;
    width: 10rem;
    border-radius:5px;
    border:none;
    background-color:#1c52a9;
    color:#fff;
    font-weight: light;
    font-style:italic;
}
input[type=checkbox]{
    width:15px;
    height:15px;
    margin-top:10px;
    
}
