*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.images{
    display: flex;
    align-items: start;
    justify-content: center;
    opacity: .75;
    width: 30%;
    height: 100vh;
    background-size: cover;
    background-image: url(halie-west-25xggax4bSA-unsplash.jpg);
}

@font-face {
    font-family: norse-bold;
    src: url(Norse-Bold.otf);
}

.odin h1{
    color: #fff;
    font-family: norse-bold, sans-serif;
    font-size: 100px;
    opacity: 1;
}

.odin img{
    opacity: 1;
}

.odin{
    display: flex;
    align-items: center;
    margin-top: 10rem;
    width: 100%;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.text{
    background-color: #ddd;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    gap: 1rem;
}

.fields{
    display: flex;
    gap: 7px;
}

.fields *{
    padding: 7px;
    margin: 7px;
}

.form{
    background-color: #fff;
    width: 100%;
    box-shadow: 3px 3px 10px #aaa;
    padding-left: 3rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.text strong, button{
    margin-left: 3rem;
}

input{
    border-radius: 3px;
    border: 1px solid #E5E7EB;
}

input:focus{
    outline: 2px solid rgb(137, 137, 239);
    box-shadow: 1px 1px 10px #aaa;
}

input[type="password"]{
    outline: 2px solid red;
}

button{
    padding: 1rem;
    width: 12rem;
    border: none;
    border-radius: 7px;
    background-color: #3d5c29;
    color: #fff;
    font-weight: bold;
    margin-top: 1.5rem;
}

span{
    color: #3d5c29;
}

input:invalid{
    outline: 2px solid red;
}

input:valid{
    outline: 2px solid #3d5c29;
}